div.index-view
  div.logo.text-center
    img(src="icons/128.png")

  div.loading-text
    div.text-center(ng-if="loading == 1")
      b verificando disponibilidade...
    
    div.text-center(ng-if="loading == 2")
      b pedindo informações ao Facebook...

    div.text-center(ng-if="loading == 98")
      b recarregando abas do Facebook...
      //- coisa feia, cara, para com isso
      br
      br
      a.q-button.q-button-primary.button-xxlarge(type="button", ng-click="selfReload()") caso já tenha carregado clique aqui
    
    div.text-center(ng-if="loading == 99")
      b houve um problema ao conectar com a aba aberta do Facebook, recarregue a aba do Facebook e tente novamente
      //- coisa feia, cara, para com isso
      br
      br
      button.q-button.q-button-primary.button-xxlarge(type="button", ng-click="reloadFacebook()") recarregar

  
  div(ng-if="!loading")
    div.center-box
      div.text-center
        div.alert.alert-primary(style="margin-bottom: 20px;")
          div clique em <b>ir para o site</b> para visualizar com quem você mais conversou e postar seu top :)
        form(target="_blank", action=api_address + "/do", method="post")
          button.q-button.q-button-primary.button-xxlarge(type="submit", ng-click="send()") ir para o site
          //- this might be just wrong
          input(type="hidden", name="data", value="{{ getThreads() }}")
        button.q-button(type="button", ng-click="showSharedData()") 
          | visualizar dados
          b *
      
        footer
          b *
          |  [avançado] você pode visualizar os dados antes deles serem enviados :)
      
      pre(ng-if="isSharedDataShown") {{ getThreads() | json }}